{% macro Link(link) %}
    {% if link.href is defined %}
        <a class="{{ component_id }}__link" href="{{ href | default('#') }}" {% if target %} ref="{{ target }}"{% endif %} >
    {% endif %}

    {{ label }}

    {% if link.href is defined %}
        </a>
    {% endif %}
{% endmacro %}