.DS_Store
export/*
public/*
source/styleguide/*
source/css/g-PatternLab/*
vendor/*
*.css
source/bkkbuttons
fa-*.ttf
source/fonts/fa-brands-400.eot
source/fonts/fa-brands-400.svg
source/fonts/fa-brands-400.woff
source/fonts/fa-brands-400.woff2
source/fonts/fa-regular-400.eot
source/fonts/fa-regular-400.svg
source/fonts/fa-regular-400.woff
source/fonts/fa-regular-400.woff2
source/fonts/fa-solid-900.eot
source/fonts/fa-solid-900.svg
source/fonts/fa-solid-900.woff
source/fonts/fa-solid-900.woff2
source/10-zglobal
