/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/

/* Flexible Media */
img, video, object {
	max-width: 100%;
	height: auto;
}

iframe {
@include trailer();
}

figure {
	@include trailer(2);
	img {
		@include trailer(1);
	}
}
figcaption {
	font-style: italic;
}