<div class="cssToggler" id="cssToggler--{{ guid }}" data-css-toggle-target="{{ guid }}">
    <!-- class="search" automagically makes an input a search field. -->
    <input class="search cssToggler__search" placeholder="Search" />
    <!-- class="sort" automagically makes an element a sort buttons. The date-sort value decides what to sort by. -->
    <button class="sort cssToggler__sort" data-sort="name">
        Sort
    </button>

    <ul class="list cssToggler__list">

    </ul>

</div>


