VUE...blogpost

gillian
{% raw %}
    <div id="components-demo">
        <blog-post title="My journey with Vue">hihih</blog-post>
        <blog-post title="Blogging with Vue"></blog-post>
        <blog-post title="Why Vue is so fun"></blog-post>

    </div>
<div class="g-Button-Group" id="blog-posts-events-demo">
    <div :style="{ fontSize: postFontSize + 'em' }">


    </div>
</div>

{% endraw %}
