<div id="app">
    <p>{{ message }}</p>
</div>
<div class="container">
    <h2>Welcome to the Client Side.</h2>

    <div class="well">
        <p>I see you've got some numbers. Why not let me see them?</p>

        <div id="response">
        </div>
    </div>
</div>