<{{ tag | default('div') }} class="{{ component_id }} {{ modifier_string(styleModifier, component_id ) }}">

    {% block content %}
        <p>This base object doesnt have any content currently.</p>
    {% endblock %}

</{{ tag | default('div') }}>
