<div>
        <h3>GROUP TEMPLATE{{ component_id }}</h3>
    {% block head %}
        <h2>{% block title %}{% endblock %} - My Webpage</h2>
    {% endblock %}
</div>
<div>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
        &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
    {% endblock %}
</div>
</div>