{% extends "a_base_object.twig" %}

{% block content %}
    <div {% if css_background is defined %}{{ css_background_image( FakerImage(1200,900)) | raw }}{% endif %} >THIS IS A
        HERO IMAGE!!!!!!
    </div>
{% endblock %}
