<a href="{{ link.pages-homepage }}"><img src="../../images/logo.png" class="logo" alt="Logo Alt Text" /></a>

{{ Faker('text') }}

{% include 'placeholder-image.twig' with {'dimensions': aspect_ratio("16:9", 900) } %}